### bloat ###
node_modules/
coverage/
.terraform/
yarn-error.log
build/
dist/
data/
imgresizer.zip
/.direnv/
/.svelte-kit/
/.pre-commit-config.yaml
result

### secrets ###
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
credentials.json
