@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --black: #26292a;
  --white: #fffefa;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	color: #333;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	box-sizing: border-box;
	font-family: 'Righteous', cursive;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

@media (min-width: 1080px) {
  html::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bg/brycecanyon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: hue-rotate(180deg) grayscale(50%);
  }
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
